<header>
  <picture>
    <img [src]="profile.imageURL" />
  </picture>
  <hgroup>
    <h2>{{ profile.fullname }}</h2>
    <h3>{{ profile.employment }}</h3>
  </hgroup>
</header>

<nav>
  <mat-nav-list id="menu">
    <mat-list-item [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions" *ngFor="let route of routes">
      <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
      <span matLine>{{ route.title }}</span>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list id="social">
    <a mat-list-item *ngFor="let router of socials" [matTooltip]="router.title" [href]="router.link" target="_blank">
      <mat-icon [svgIcon]="router.icon"></mat-icon>
    </a>
  </mat-nav-list>
</nav>
