@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);

  core-navbar{
    background-color: mat.get-color-from-palette($primary-palette, 500);
    color: mat.get-contrast-color-from-palette($primary-palette, 500);

    picture{
      border-color: mat.get-contrast-color-from-palette($primary-palette, 500);
    };

    mat-list-item{
      mat-icon{ color: mat.get-contrast-color-from-palette($primary-palette, 500) !important; };
      span{ color: mat.get-contrast-color-from-palette($primary-palette, 500); };
    };





    // main{
    //   background-color: mat.get-contrast-color-from-palette($primary-palette, A700);
    // };
  };
};

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null { @include color($theme); };
};