<header>
  <ng-container *ngIf="isDesktop; else toolbar">
    <picture>
      <ng-container *ngTemplateOutlet="profileImg"></ng-container>
    </picture>
    <ng-container [ngTemplateOutlet]="hgroup"></ng-container>
  </ng-container>
</header>

<nav [class.active]="!isDesktop && isNavActive">
  <mat-nav-list id="menu">
    <mat-list-item [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions" *ngFor="let route of routes">
      <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
      <span matLine>{{ route.title }}</span>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list id="social">
    <a mat-list-item *ngFor="let router of socials" [matTooltip]="router.title" [href]="router.link" target="_blank">
      <mat-icon [svgIcon]="router.icon"></mat-icon>
    </a>
  </mat-nav-list>
</nav>

<div class="overlay" *ngIf="!isDesktop && isNavActive" (click)="showNav(false)"></div>

<ng-template #toolbar>
  <mat-toolbar color="primary">
    <ng-container *ngTemplateOutlet="profileImg"></ng-container>
    <ng-container *ngTemplateOutlet="hgroup"></ng-container>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="showNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</ng-template>

<ng-template #hgroup>
  <hgroup>
    <h2>{{ profile.fullname }}</h2>
    <h3>{{ profile.employment }}</h3>
  </hgroup>
</ng-template>

<ng-template #profileImg>
  <img [src]="profile.imageURL" />
</ng-template>
