<header>
  <picture>
    <img src="https://picsum.photos/200" />
  </picture>
  <hgroup>
    <h2>Mauro Viveros</h2>
    <h3>Web Fullstack - DevOps</h3>
  </hgroup>
</header>

<nav>
  <mat-nav-list id="menu">
    <mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      <span matLine>Home</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      <span matLine>Home</span>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list id="social">
    <mat-list-item matTooltip="Instagram">
      <mat-icon>home</mat-icon>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>home</mat-icon>
    </mat-list-item>
  </mat-nav-list>
</nav>
