@use 'breakpoints';

:host{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--mat-toolbar-container-background-color); /*!!!*/

  @media #{breakpoints.$desktop}{
    width: 300px;
    // box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
  }
}

nav{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 0 .5rem;
  width: calc(100% - 1rem);
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height .5s ease-in-out;
  background-color: inherit;

  @media #{breakpoints.$mobile} {
    margin: 0 .5rem;
    width: calc(100% - 1rem);
    position: absolute;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    max-height: 0;
    top: 100%;

    &.active{
      max-height: 50vh;
    }
  }

  @media #{breakpoints.$desktop}{
    width: 100%;
  }
}
.mat-toolbar{
  background-color: inherit;

  @media #{breakpoints.$desktop}{
    height: auto;
    padding: 2rem 0;

    button{ display: none; }
  }
}
