<!-- @for (social of socials; track $index) { -->
<a
  href="https://google.com"
  target="_blank"
  matTooltip="social.network"
  mat-icon-button>
  <!-- <mat-icon [svgIcon]="social.network"></mat-icon> -->
  <mat-icon>dashboard</mat-icon>
</a>
<a
  href="https://google.com"
  target="_blank"
  matTooltip="social.network"
  mat-icon-button>
  <!-- <mat-icon [svgIcon]="social.network"></mat-icon> -->
  <mat-icon>dashboard</mat-icon>
</a>
<a
  href="https://google.com"
  target="_blank"
  matTooltip="social.network"
  mat-icon-button>
  <!-- <mat-icon [svgIcon]="social.network"></mat-icon> -->
  <mat-icon>dashboard</mat-icon>
</a>
<!-- } -->
