---
import Button from "@components/Button.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { BRAND } from "@consts";
---

<section class="flex flex-col-reverse md:flex-row items-center justify-center md:justify-between h-full py-16 gap-4 md:gap-8">
    <hgroup class="flex flex-col gap-3 text-center md:text-left">
        <h1 class="text-3xl md:text-6xl font-bold text-slate-800">¡Hola! ✌️</h1>
        <h2 class="text-3xl md:text-6xl font-bold text-slate-800">Soy <span class="text-primary">Mauro Viveros</span></h2>
        <p class="text-xl md:text-3xl font-bold text-slate-700">Desarrollador WEB | DEV-OPS</p>
        <article class="flex justify-center md:justify-normal items-center gap-4">
            <Button href={BRAND.cv} label="Descargar mi curriculum profesional" type="flat">Descargar CV</Button>
            <SocialLinks/>
        </article>
    </hgroup>
    
    <img
        class="border-primary border-4 size-48 sm:size-64 md:size-80 lg:size-[26rem]"
        style="box-shadow: 0 15px 25px #0000004d; border-radius: 63% 37% 48% 52% / 60% 57% 43% 40%;"
        src={BRAND.avatar}
        alt="Mauro Daniel Viveros Desarrollador WEB"
    >
</section>