<p>experience works!</p>

<ol>
  @for (work of works; track $index) {
    <li>
      <article>
        <header>
          <h3>{{ work.position }}</h3>
          <h4>
            @if (work.website) {
              <a [href]="work.website" target="_blank">{{ work.company }}</a>
            } @else {
              {{ work.company }}
            }
          </h4>
          <h5>
            <time [attr.datetime]="work.startDate">{{ work.startDate }}</time>
            @if (work.endDate) {
              <time [attr.datetime]="work.endDate">{{ work.endDate }}</time>
            }
          </h5>
        </header>
        <section>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet
          ipsa eveniet iure consequuntur, praesentium exercitationem laudantium
          earum accusantium beatae obcaecati repellendus maxime in inventore
          odio. Aliquid sapiente odit nisi temporibus cumque quis voluptatem
          nulla accusamus in libero similique ut incidunt perferendis deserunt
          culpa repellendus, eligendi expedita voluptate fuga tempora!
        </section>
      </article>
    </li>
  }
</ol>
