---
import Layout from '@layout';
import { useTranslations } from '@i18n';
import { Icon } from 'astro-icon/components';
import { Button } from '@starwind/button';

const t = useTranslations(Astro.currentLocale);
const locale = Astro.currentLocale || 'es';
---

<Layout>
  <section class="flex h-dvh flex-col items-center justify-center gap-8 text-center">
    <h1 class="text-primary text-9xl font-bold">404</h1>
    <p class="text-muted-foreground text-2xl">{t('404.description')}</p>
    <Button href={`/${locale}`} variant="primary">
      <Icon name="tabler:arrow-left" size="1.5rem" />
      {t('404.go_home')}
    </Button>
  </section>
</Layout>
