---
import Hero from '@sections/Hero.astro';
import Portfolio from '@sections/Portfolio.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<Header/>
	<!-- <Navigation/> -->
	<main>
		<Hero/>
		<!-- <Experience/> -->
		<Portfolio/>
		<!-- <Skills/> -->
		<!-- <About/> -->
		<!-- <Contact/> -->
	</main>
	<Footer/>
</Layout>