---
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<Header/>
	<!-- <Navigation/> -->
	<main class="container mx-auto px-8">
		<Hero/>
		<!-- <Portfolio/> -->
		<!-- <Skills/> -->
		<!-- <About/> -->
		<!-- <Contact/> -->
	</main>
</Layout>
