@use "sass:map";
@use "@angular/material" as mat;

@mixin color($config){
  $primary: map.get($config, primary);

  core-home{
    background-color: mat.get-color-from-palette($primary, 900) !important;
    color: mat.get-contrast-color-from-palette($primary, 900);

    [data-tag]::before, [data-tag]::after{ opacity: .4; }
  }
}

@mixin typography($config){
  core-home{
    [data-tag]::before, [data-tag]::after{
      font-family: "La Belle Aurore";
      font-weight: bold;
    }
  }
}

@mixin theme($theme){
  $color-config: mat.get-color-config($theme);
  $typography-config: mat.get-typography-config($theme);

  @if $color-config != null { @include color($color-config); }
  @if $typography-config != null { @include typography($typography-config); }
}