<div data-tag="html">
  <div data-tag="body">
    <div data-tag="header">
      <div data-tag="h1">
        <h1>{{ "home.greeting" | translate : { name: user.name[0] | titlecase } }}</h1>
      </div>
    </div>
    <div data-tag="main">
      <div data-tag="p">
        <p>{{ "home.description" | translate : { role: user.role, city: user.city | titlecase, country: user.country | titlecase } }}</p>
      </div>
      <article>
        <p>{{ "home.about" | translate }}</p>
        <a mat-flat-button routerLink="about">{{ "nav.about" | translate }}</a>
      </article>
    </div>
  </div>
</div>
