:host{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
};

div[data-html]{
    display: flex;
    margin: 0 1rem;
    flex-direction: column;

    &[data-html-inline]{
        justify-content: center;
        & > *{ text-align: center; };
    };


    &::after, &::before{ content: "<"attr(data-html)">"; };
};

[data-html=html], [data-html=body]{
    flex: 1;
    justify-content: center;
};

[data-html=body]{
    position: relative;
    &::before, &::after{ position: absolute; };
    &::before{ top: 0; };
    &::after{ bottom: 0; };
};