@import "breakpoints";

:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: none;

  div{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    right: 0;
    top: 56px;
    margin: 1rem;
    position: absolute;
  }
}
:host::ng-deep{
  > router-outlet + *{
    flex-grow: 1;
    padding: .5rem;
    overflow: auto;
    @media #{$media-small-up}{
      padding: 1.5rem 2rem !important;
    }

    &:not(core-home) + div{
      display: none !important;
    }
  }
}

@media #{$media-small-up}{
  :host{
    margin: 2rem;
    flex-direction: row;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);

    div{
      display: flex !important;
      top: -.25rem;
      right: -.5rem;
    }
  }
}