@use 'breakpoints';

:host{
  display: flex;
  overflow: hidden;
  flex: 1;

  @media #{breakpoints.$mobile}{
    flex-direction: column;
  }

  @media #{breakpoints.$desktop}{
    border-radius: 1rem;
    box-shadow: 0 0 .5rem .125rem rgba(0, 0, 0, 0.75);
    margin: 2rem;

  }
}

:host::ng-deep > router-outlet + *{
  flex: 1;
  overflow: auto;
  padding: 1rem;
}
