---
import { Image } from "astro:assets";

const label = "mviveros | portfolio";
---
<a href="/" class="flex items-center gap-1 text-current transition-colors duration-300 ease-in-out font-semibold">
  <Image
    src="/favicon.svg" width={32} height={32}
    alt={`Logo de ${label}`}
    class="size-8 rounded-full"/>

  <span>{label}</span>
</a>