---
import { useTranslations } from '@i18n';
import { Image } from 'astro:assets';
import { USER } from '@constants';

const { username } = USER;
const t = useTranslations(Astro.currentLocale);
---

<a href="/" class="flex items-center gap-1 font-semibold">
  <Image
    src="/favicon.svg"
    height={32}
    width={32}
    alt={t('label.brand', { username })}
    class="size-8 rounded-full"
    loading="eager"
  />
  <span>{t('seo.brand', { username })}</span>
</a>
