---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
interface Props extends HTMLAttributes<'article'> {}
const { class: className, ...props } = Astro.props;
---

<article
  class:list={[
    'absolute top-1/5 right-1/10',
    'border border-yellow-400/50 bg-yellow-300/95',
    'shadow-gold-glow rotate-8 backdrop-blur-sm',
    'w-48 rounded-2xl px-4 py-2',
    'animate-float animation-duration-[6s]',
    'animate-iteration-count-infinite animate-ease-in-out',
    className,
  ]}
  {...props}
>
  <Icon name="bxs:quote-left" class="mb-1 size-3 text-yellow-600" />
  <p class="text-xs leading-relaxed font-medium text-black italic">
    Design with intent. Develop with discipline.
  </p>
  <div class="mt-4 flex items-center">
    <span
      class:list={[
        'flex items-center',
        'text-xs font-semibold tracking-wide text-gray-800',
        'before:mr-3 before:block before:h-px before:w-8 before:bg-yellow-600',
      ]}
    >
      CODING MANTRA
    </span>
  </div>
</article>

<!-- hidden lg:block absolute right-[10%] bottom-1/2 w-48 bg-yellow-300/95 backdrop-blur-sm py-2 px-4 rounded-2xl shadow-xl float-animation border border-yellow-400/50 -->

<!-- <div
  className="float-animation absolute right-[10%] bottom-1/2 hidden w-48 rounded-2xl border border-yellow-400/50 bg-yellow-300/95 px-4 py-2 shadow-xl backdrop-blur-sm lg:block"
>
  <div className="mb-1 flex justify-start">
    <div className="text-2xl text-yellow-600">
      <svg className="h-3 w-3" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"
        ></path>
      </svg>
    </div>
  </div>
  <p className="text-xs leading-relaxed font-medium text-black italic">
    Design with intent. Develop with discipline.
  </p>
  <div className="mt-4 flex items-center">
    <div className="mr-3 h-px w-8 bg-yellow-600"></div>
    <span className="text-xs font-semibold tracking-wide text-gray-800">
      CODING MANTRA
    </span>
  </div>
</div> -->
