---
import { SITE } from "@consts";
---

<p class="text-base font-medium text-slate-600 text-center max-w-72">
    Diseñado y construido con ❤️ por
    <span class="text-primary">{SITE.author}</span>
</p>