---
import { HREF } from "@consts";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";

type Button = {
    href: string;
    label: string;
    text?: string;
    isFlat?: boolean;
    Icon?: any;
}

const buttons: Button[] = [
    {
        href: HREF.CV,
        text: "Descargar CV",
        label: 'Descargar mi currículum profesional',
        isFlat: true,
    },
    {
        href: HREF.GITHUB,
        label: 'Ver mi perfil en GitHub',
        Icon: GithubIcon
    },
    {
        href: HREF.LINKEDIN,
        label: 'Conectar conmigo en LinkedIn',
        Icon: LinkedInIcon,
    },
];

const classBtnFlat = "relative text-slate-100 bg-primary py-3 px-4 rounded-lg font-semibold shadow duration-300 hover:shadow-xl hover:-translate-y-1";
const classBtnIcon = "duration-500 text-slate-800 hover:text-primary";
---

<article class="flex justify-center md:justify-normal items-center gap-4">
    {
        buttons.map(({ href, label, isFlat, text, Icon }) => (
            <a href={href}
               aria-label={label}
               target="_blank"
               class={isFlat ? classBtnFlat : classBtnIcon}
            >
                {text ? text : ''}
                {Icon ? <Icon/> : ''}
            </a>
        ))
    }
</article>