---
import { locales, useTranslations } from '@i18n';
import { Icon } from 'astro-icon/components';
import { Button } from '@starwind/button';
const t = useTranslations(Astro.currentLocale);
---

<article class="relative w-fit" id="dropdown-lang">
  <Button
    type="button"
    variant="ghost"
    size="icon"
    aria-label={t('label.dropdown_lang')}
  >
    <Icon name="tabler:language" size="1.5rem" />
  </Button>
  <ul
    data-active
    class="border-background-hover bg-background absolute top-full right-0 z-10 mt-1 hidden overflow-hidden rounded border data-[active=true]:block"
  >
    {
      locales.map(({ code, language, icon }) => (
        <li>
          <Button
            id={`theme-${code}`}
            href={`/${code}`}
            aria-label={t('label.language', { language })}
            variant="ghost"
            data-active={Astro.currentLocale === code ? 'true' : 'false'}
            class="w-full justify-start rounded-none data-[active=true]:bg-muted-foreground/20"
          >
            <Icon name={icon} size="1.5rem" />
            <span>{language}</span>
          </Button>
        </li>
      ))
    }
  </ul>
</article>

<script>
  const btn = document.querySelector('#dropdown-lang button');
  const ul = document.querySelector('#dropdown-lang ul');
  const lis = document.querySelectorAll('#dropdown-lang ul li');

  btn?.addEventListener('click', () => {
    const isActive = ul?.getAttribute('data-active') === 'true';
    ul?.setAttribute('data-active', String(!isActive));
  });

  lis.forEach((li) => {
    li.addEventListener('click', () => {
      ul?.setAttribute('data-active', 'false');
    });
  });

  document.addEventListener('click', (e) => {
    if (!(!btn?.contains(e.target as Node) && !ul?.contains(e.target as Node))) return;
    ul?.setAttribute('data-active', 'false');
  });
</script>
