---
import { Icon } from 'astro-icon/components';
---

<nav
  class="border-background-active bg-background fixed right-0 bottom-4 left-0 z-50 mx-auto w-fit rounded-full shadow-2xl"
>
  <ul class="flex items-center justify-center gap-2 p-2">
    <li>
      <a href="#home" class="bg-background-hover hover:bg-background-active flex rounded-full p-2">
        <Icon name="tabler:home" size="2rem" />
      </a>
    </li>
  </ul>
</nav>
