---
import Icons from '@icons';
interface Props { title: string; icon: string; }
const { title, icon } = Astro.props;

const Icon = Icons[icon] || Icons.unknown;
---

<section class="relative w-full pt-16 p-5 md:p-10 md:pt-16">
    <h2 class="absolute left-0 top-0 text-4xl font-semibold text-slate-900 flex items-center gap-x-3">
        <Icon/>
        <span>{title}</span>
    </h2>

    <slot/>
</section>