---
import { SOCIALS } from "consts/socials";
import Button from "./Button.astro";
import Icons from "./icons";
---
{SOCIALS.map(({ href, name, icon }) => {
    const Icon = Icons.socials[icon] || Icons.unknown;
    return (
        <Button href={href} label={name} type="icon">
            <Icon/>
        </Button>
    )
})}