---
import { useTranslations } from '@i18n';
import { Icon } from 'astro-icon/components';
import { Button } from '@starwind/button';

const t = useTranslations(Astro.currentLocale);
interface Theme {
  _id: string;
  name: string;
  icon: string;
}
const themes: Theme[] = [
  { _id: 'dark', name: t('btn.theme_dark'), icon: 'tabler:moon-stars' },
  { _id: 'light', name: t('btn.theme_light'), icon: 'tabler:sun-high-filled' },
  { _id: 'system', name: t('btn.theme_system'), icon: 'tabler:device-desktop' },
];
---

<article class="relative w-fit" id="dropdown-theme">
  <Button
    type="button"
    variant="ghost"
    size="icon"
    aria-label={t('label.dropdown_theme')}
  >
    <Icon name="tabler:sun-moon" size="1.5rem" />
  </Button>
  <ul
    data-active
    class="border-background-hover bg-background absolute top-full right-0 z-10 mt-1 hidden overflow-hidden rounded border data-[active=true]:block"
  >
    {
      themes.map(({ _id, name, icon }) => (
        <li class="flex">
          <Button
            id={`theme-${_id}`}
            type="button"
            variant="ghost"
            class="w-full justify-start rounded-none data-[active=true]:bg-muted-foreground/20"
          >
            <Icon name={icon} size="1.5rem" />
            <span>{name}</span>
          </Button>
        </li>
      ))
    }
  </ul>
</article>
<script>
  const query = window.matchMedia('(prefers-color-scheme: dark)');
  const btn = document.querySelector('#dropdown-theme button');
  const ul = document.querySelector('#dropdown-theme ul');
  const lis = document.querySelectorAll('#dropdown-theme ul li button');
  const setLiActive = (theme: string | null) => {
    lis.forEach((li) => {
      const isActive = li.id.split('-')[1] === (theme || 'system');
      li.setAttribute('data-active', String(isActive));
    });
  };

  btn?.addEventListener('click', () => {
    const isActive = ul?.getAttribute('data-active') === 'true';
    ul?.setAttribute('data-active', String(!isActive));
  });

  lis.forEach((li) => {
    li.addEventListener('click', () => {
      ul?.setAttribute('data-active', 'false');
      let theme = li.id.split('-')[1];
      setLiActive(theme);

      if (theme === 'system') {
        localStorage.removeItem('theme');
        theme = query?.matches ? 'dark' : 'light';
      } else {
        localStorage.setItem('theme', theme);
      }
      document.documentElement.setAttribute('data-theme', theme);
    });
  });

  document.addEventListener('click', (e) => {
    if (!(!btn?.contains(e.target as Node) && !ul?.contains(e.target as Node))) return;
    ul?.setAttribute('data-active', 'false');
  });

  document.addEventListener('DOMContentLoaded', () => {
    const theme = localStorage.getItem('theme');
    setLiActive(theme);

    query.addEventListener('change', () => {
      const currentTheme = localStorage.getItem('theme');
      if (!currentTheme) {
        const newTheme = query.matches ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', newTheme);
        setLiActive('system');
      }
    });
  });
</script>
