---
import { useTranslations } from '@i18n';
import { Icon } from 'astro-icon/components';
import { Button } from '@starwind/button';
const t = useTranslations(Astro.currentLocale);
---

<Button
  type="button"
  id="top-btn"
  variant="outline"
  size="icon-lg"
  aria-label={t('label.back_to_top')}
  data-hidden="true"
  class:list={[
    "fixed right-6 bottom-6 data-[hidden=true]:hidden border-2",
    "border-slate-300 bg-slate-200 hover:bg-slate-300 focus-visible:ring-slate-400/50",
    "dark:border-slate-700 dark:bg-slate-800 dark:hover:bg-slate-700 dark:focus-visible:ring-slate-600/50",
  ]}
  >
  <Icon name="tabler:arrow-up" size="1.5rem" />
</Button>

<script>
  const btn = document.querySelector('#top-btn');
  btn?.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
  window.addEventListener('scroll', () => {
    const isHidden = window.scrollY < window.innerHeight / 2;
    btn?.setAttribute('data-hidden', String(isHidden));
  });
</script>
