:host{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: center;

  div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: .25rem;
  }
  img{ width: 100%; }
}

:host::ng-deep{
  .mat-mdc-button-ripple{
    z-index: 1;
  }
}