@use "sass:map";
@use "@angular/material" as mat;
@import "themes/primary";
@import "themes/secondary";
@import "themes/tertiary";

:host{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: center;

  div{
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  img{ width: 100%; }

  [mat-fab].theme{
    &-primary{
      background-color: mat.get-color-from-palette(map.get(mat.get-color-config($primary-theme), primary), 500);
      color: mat.get-contrast-color-from-palette(map.get(mat.get-color-config($primary-theme), primary), 500);
    }
    &-secondary{
      background-color: mat.get-color-from-palette(map.get(mat.get-color-config($secondary-theme), primary), 500);
      color: mat.get-contrast-color-from-palette(map.get(mat.get-color-config($secondary-theme), primary), 500);
    }
    &-tertiary{
      background-color: mat.get-color-from-palette(map.get(mat.get-color-config($tertiary-theme), primary), 500);
      color: mat.get-contrast-color-from-palette(map.get(mat.get-color-config($tertiary-theme), primary), 500);
    }
  }
}

:host::ng-deep{
  .mat-mdc-button-ripple{
    z-index: 1;
  }
}