@use "sass:map";
@use "@angular/material" as mat;

@mixin color($config){
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  core-navbar-menu section{
    background-color: mat.get-color-from-palette($primary, 500);
    color: mat.get-contrast-color-from-palette($primary, 500);

    footer a{ color: mat.get-contrast-color-from-palette($primary, 500) !important; }

    mat-nav-list{
      mat-list-item{
        border-color: mat.get-color-from-palette($primary, 500);
        mat-icon, [matlistitemtitle]{
          color: mat.get-contrast-color-from-palette($primary, 500) !important;
        }

        &.active{
          border-color: mat.get-color-from-palette($accent, 800);
        }
      }
    }
  }
}

@mixin theme($theme){
  $color-config: mat.get-color-config($theme);
  @if $color-config != null { @include color($color-config); }
}