<section>
  <mat-nav-list>
    <mat-list-item *ngFor="let route of routes" [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">
      <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
      <div matListItemTitle>{{ route.text | translate }}</div>
    </mat-list-item>
  </mat-nav-list>

  <div class="social">
    <a *ngFor="let social of user.social" [href]="social.url" target="_blank" mat-icon-button>
      <mat-icon [svgIcon]="social.svg ? social.icon : ''">{{ social.svg ? "" : social.icon }}</mat-icon>
    </a>
  </div>

  <footer>
    Copyright &copy; {{ user.copyright.year }} &mdash; <a [href]="user.copyright.site" target="_blank">{{ user.copyright.title }}</a>
  </footer>
</section>
