@import "breakpoints";

:host{
  width: 100%;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: all .125s ease-in-out;

  &.active{
    transition: all .5s ease-in-out;
    max-height: 100%;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    footer{
      font-size: .6rem;
      text-transform: uppercase;
    }
  }
}

mat-nav-list{
  padding: 0;
  width: 100%;

  mat-list-item{
    border-left-width: .5rem;
    border-right-width: .5rem;
    border-left-style: solid;
    border-right-style: solid;

    &.active{ background-color: rgba(0, 0, 0, 0.1); }
  }
}

.social{
  display: flex;
  gap: 1rem;
}


@media #{$media-small-up}{
  :host{
    position: relative;
    max-height: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: none !important;

    section{
      flex-grow: 1;
      border-radius: 0;
      padding: 1rem 0;

      mat-nav-list{ flex: 1; }
      footer{
        font-size: .8rem;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

    }
  }
}