---
import Section from "@components/Section.astro";
import {Content} from '../markdown/about.md';

---

<Section title="Sobre mí" icon="tabler:info-circle">
    <article id="about-me">
        <Content/>

        <blockquote class="w-full md:w-3/4 border-2 border-dotted rounded-lg flex flex-col justify-center items-center mx-auto">
            <p style="margin: 0;" class="text-center text-pretty italic font-medium">"Un experto es un hombre que ha dejado de pensar"</p>
            <div class="text-center flex flex-col md:flex-row gap-0 md:gap-1 text-foreground-light">
                <span>Frank Lloyd Wright</span>
                <span>(1867-1959)</span>
                <span>Arquitecto estadounidense</span>
            </div>
            
            <span></span>
        </blockquote>
    </article>
</Section>

<!-- width: 75%;
    display: inline-flex;
    border: 2px dotted;
    border-radius: 8px;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    text-align: center; -->