---
import { getEntry, render } from 'astro:content';
import { Section } from '@components';
import { locales, useTranslations } from '@i18n';

const t = useTranslations(Astro.currentLocale);

const about = await getEntry('about', Astro.currentLocale || locales[0].code);
if (!about) return;
const { Content } = await render(about);
const { quote, author, lifespan, occupation } = about.data;
---

<Section title={t('section.about')} icon="tabler:info-circle">
  <article
    class="prose-xl text-foreground-light prose-strong:text-primary prose-a:text-primary prose-a:underline prose-blockquote:p-1; prose-p:text-balance font-medium md:px-8"
  >
    <Content />
  </article>
  <blockquote class="mx-auto mt-4 w-full rounded-lg border-2 border-dotted p-1 md:w-3/4">
    <p class="text-center font-medium text-balance italic">"{quote}"</p>
    <div class="flex flex-col justify-center gap-0 text-center text-xs md:flex-row md:gap-1">
      <span>{author} ({lifespan})</span>
      <span>{occupation}</span>
    </div>
  </blockquote>
</Section>
