---
import Section from "@components/Section.astro";
import { Icon } from "astro-icon/components";
---
<Section title="Contáctame" icon="tabler:mail-forward">
    <p class="text-2xl font-medium text-center text-pretty text-foreground-light max-w-lg mx-auto my-10">Mi correo está abierto a nuevas oportunidades… Si tenés algo en mente, mandá un mail y lo charlamos.</p>

    <article class="flex justify-center items-center gap-2 max-w-sm mx-auto">
        <span id="portfolio_email" class="flex-1 p-2 rounded-lg text-foreground bg-zinc-200 border border-zinc-300 truncate">maurod.viveros@gmail.com</span>
        <a href="mailto:maurod.viveros@gmail.com" aria-label="Enviar email" class="btn rounded-lg bg-primary text-foreground-light">
            <Icon name="tabler:send" size="1.5rem"/>
        </a>

        <button type="button" aria-label="Copiar email" class="btn rounded-lg bg-primary text-foreground-light">
            <Icon name="tabler:copy" size="1.5rem"/>
        </button>
    </article>
</Section>

<!-- <script>
    const copyToClipboard = () => {
        const email = document.querySelector('#portfolio_email')?.textContent || '';
        navigator.clipboard.writeText(email);
    };

    document.querySelector('#btn_copy')?.addEventListener('click', () => {
        copyToClipboard();
    });
</script> -->