---
import type { HTMLAttributes } from 'astro/types';

import CodingMantraCard from '@/components/CodingMantraCard.astro';

interface Props extends HTMLAttributes<'section'> {}
const { class: className, ...props } = Astro.props;
---

<section
  aria-labelledby="hero-title"
  class:list={[
    'relative mx-auto px-8',
    'max-w-5xl lg:max-w-6xl',
    'pt-12 pb-16 sm:pt-16 sm:pb-20',
    className,
  ]}
  {...props}
>
  <p
    class:list={[
      'text-code-comment font-code inline-flex flex-col text-sm',
      'mt-24 md:mt-0',
    ]}
  >
    <span>// Engineer focused on building</span>
    <span>// efficient and valuable experiences</span>
  </p>
  <p class="font-code flex space-x-2 text-sm sm:text-base">
    <span class="text-code-key">const</span>
    <span class="text-foreground">developer</span>
    <span class="text-code-punct">&equals;</span>
    <span class="text-code-string m-0">&quot;Mauro Daniel Viveros&quot;</span>
    <span class="text-code-punct">;</span>
  </p>

  <h1
    id="hero-title"
    class="font-code mt-12 min-h-min text-3xl font-bold tracking-tight sm:text-4xl lg:text-5xl"
  >
    <span class="text-primary">&gt;</span>
    <span>Frontend Developer</span>
  </h1>

  <p
    class="text-muted-foreground mt-10 max-w-xl text-base leading-relaxed sm:text-lg"
  >
    Frontend Engineer with 5+ years of experience creating scalable web
    applications, design systems, internal tools and developer-focused
    solutions.
    <span class="text-foreground">
      Building products people enjoy and developers enjoy maintaining.
    </span>
  </p>

  <article class="mt-16 flex flex-wrap gap-3"></article>

  <p class="font-code text-code-comment mt-6 text-sm">
    // Let's build something amazing together 🚀
  </p>

  <CodingMantraCard class="top-5 right-8 md:top-1/5 md:right-1/10" />
</section>
