---
import SocialLinks from "@components/SocialLinks.astro";
---

<section class="flex flex-col-reverse md:flex-row items-center justify-center md:justify-between h-dvh py-16 gap-4 md:gap-8">
    <hgroup class="flex flex-col gap-3 text-center md:text-left">
        <h1 class="text-3xl md:text-6xl font-bold text-slate-800">¡Hola! ✌️</h1>
        <h2 class="text-3xl md:text-6xl font-bold text-slate-800">Soy <span class="text-primary">Mauro Viveros</span></h2>
        <p class="text-xl md:text-3xl font-bold text-slate-700">Desarrollador WEB | DEV-OPS</p>
        <article class="flex justify-center md:justify-normal items-center gap-4">
            <a href="https://drive.google.com/file/d/1VcraKv9SzyZbt4AdjD0nrj4b5g8gS8LI/view?usp=sharing" target="_blank" aria-label="Descargar mi curriculum profesional" class="btn rounded-lg bg-primary text-slate-100">
                Descargar CV
            </a>

            <SocialLinks/>
        </article>
    </hgroup>
    
    <picture>
        <source srcset="/assets/mviveros-july-256x256.webp" media="(width >= 40rem)">
        <source srcset="/assets/mviveros-july-320x320.webp" media="(width >= 48rem)">
        <source srcset="/assets/mviveros-july-416x416.webp" media="(width >= 64rem)">
        <source srcset="/assets/mviveros-july.webp" media="(width >= 80rem)">

        <img
            src="/assets/mviveros-july-192x192.webp" alt="Mauro Daniel Viveros Desarrollador WEB" 
            class="border-primary border-4 size-48 ms:size-64 md:size-80 lg:size-[26rem]"
            style="border-radius: 63% 37% 48% 52% / 60% 57% 43% 40%;"
            loading="lazy"
        />
    </picture>
</section>