<mat-nav-list>
  <!-- @for (item of menu; track $index) { -->
  <a mat-list-item routerLinkActive="active">
    <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span class="mat-body-large" matListItemTitle>
      <!-- {{ item.label | titlecase }} -->
      {{ 'example' | titlecase }}
    </span>
  </a>
  <a mat-list-item routerLinkActive="active">
    <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span class="mat-body-large" matListItemTitle>
      <!-- {{ item.label | titlecase }} -->
      {{ 'example' | titlecase }}
    </span>
  </a>
  <!-- } -->
</mat-nav-list>
<!-- [routerLink]="item.path"
[routerLinkActiveOptions]="options" -->
