figure{
    margin: 0;
    width: 100%;
    height: 10rem;
    position: relative;
    z-index: 0;

    img, figcaption{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    img{
        filter: blur(4px);
    }
    figcaption{
        z-index: 1;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // border: 1px solid black;
        outline-width: 1px;
        outline-style: solid;
        outline-offset: -1rem;
    }
}