@use 'breakpoints';

:host{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .5rem 2rem;
  gap: .25rem;

  @media #{breakpoints.$desktop}{
    font-size: .8rem;
    line-height: .8rem;
    flex-direction: column;
  }

  @media #{breakpoints.$mobile}{
    font-size: .6rem;
    &:after{ content: '─'; }
  }
}

a{ color: inherit; order: 1; }
