@use '@angular/material' as mat;
@include mat.core();

@import './styles/themes/light';


@include mat.all-component-themes($light-theme);

html, body { height: 100vh; };
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; };
router-outlet + *{ flex: 1; };