$screen-xsmall   : 600px;
$screen-small    : 960px;
$screen-medium   : 1280px;
$screen-large    : 1920px;


$media-xsmall   : "(max-width: #{$screen-xsmall - 0.02px})";
$media-small    : "(min-width: #{$screen-xsmall}) and (max-width: #{$screen-small - 0.02px})";
$media-medium   : "(min-width: #{$screen-small}) and (max-width: #{$screen-medium - 0.02px})";
$media-large    : "(min-width: #{$screen-medium}) and (max-width: #{$screen-large - 0.02px})";
$media-xlarge   : "(min-width: #{$screen-large})";

$media-small-down   : "(max-width: #{$screen-small - 0.02px})";
$media-medium-down  : "(max-width: #{$screen-medium - 0.02px})";
$media-large-down   : "(max-width: #{$screen-large - 0.02px})";

$media-small-up     : "(min-width: #{$screen-xsmall})";
$media-medium-up    : "(min-width: #{$screen-small})";
$media-large-up     : "(min-width: #{$screen-medium})";