---
import SpeedInsights from '@vercel/speed-insights/astro';
import { Brand, Networks, SEO, TopBtn, ThemeBtn, LangBtn } from '@components';
import { useTranslations } from '@i18n';
import { Contact } from '@sections';

const t = useTranslations(Astro.currentLocale);
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <SEO />
  </head>
  <body>
    <header class="absolute right-0 left-0 z-10 flex h-20 items-center py-4">
      <div class="container mx-auto flex justify-between px-4">
        <Brand />
        <section class="flex gap-2">
          <LangBtn />
          <ThemeBtn />
        </section>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer class="flex h-dvh flex-col items-center justify-center">
      <div class="container mx-auto flex flex-col items-center gap-4 md:gap-8">
        <Contact />
        <Networks />

        <p
          class="text-foreground-light max-w-72 text-center font-medium"
          set:html={t('footer.credit', { name: 'Mauro Daniel Viveros' })}
        />
      </div>
    </footer>

    <TopBtn />
    <SpeedInsights />
  </body>
</html>
