---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Brand from '@components/Brand.astro';
import Networks from '@components/Networks.astro';
import SEO from '@components/SEO.astro';
import Contact from '@sections/Contact.astro';
import ThemeBtn from "@components/ThemeBtn.astro";
import { useTranslations } from "@i18n";
import LangBtn from "@components/LangBtn.astro";
import TopBtn from "@components/TopBtn.astro";

interface Props { title: string, description: string; };
const { currentLocale, props: { title, description } } = Astro;
const t = useTranslations(currentLocale);
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <SEO title={title} description={description}/>
  </head>
  <body>
    <header class="absolute left-0 right-0 py-4 flex justify-between">
      <Brand/>
      <section class="flex gap-2">
        <LangBtn/>
        <ThemeBtn/>
      </section>
    </header>
    <main>
      <slot />
    </main>
    <footer class="h-dvh p-4 md:p-8 flex flex-col items-center justify-center gap-4 md:gap-8">
      <Contact/>
      <Networks/>
      <p class="text-base font-medium text-foreground-light text-center max-w-72">
        {t('footer')}
        <span class="text-primary">Mauro Daniel viveros</span>
      </p>
    </footer>

    <TopBtn client:load/>
    <SpeedInsights/>
  </body>
</html>