---
import { Image } from 'astro:assets';
import { useTranslations } from '@i18n';
const t = useTranslations(Astro.currentLocale);
const username = 'mviveros';
---

<a href="/" class="flex items-center gap-1 font-semibold">
  <Image
    src="/favicon.svg"
    height={32}
    width={32}
    alt={username}
    class="size-8 rounded-full"
    fetchpriority="high"
    loading="eager"
    decoding="async"
  />
  {t('seo.brand', { username })}
</a>
