---
import { Image } from 'astro:assets';
import { useTranslations } from '@i18n';
import Button from '../starwind/button';
const t = useTranslations(Astro.currentLocale);
const username = 'mviveros';
---

<Button
  href="/"
  variant="ghost"
  aria-label={t('label.home')}
>
  <Image
    src="/favicon.svg"
    height={32}
    width={32}
    alt={username}
    class="size-8 rounded-full"
    fetchpriority="high"
    loading="eager"
    decoding="async"
  />
  {t('seo.brand', { username })}
</Button>
