---
import { Icon } from 'astro-icon/components';
import { useTranslations } from '@i18n';
const t = useTranslations(Astro.currentLocale);

const NETWORKS = [
  { network: "GitHub", username: "mauroviveros", url: "https://github.com/mauroviveros/", color: "#333333", icon: "line-md:github" },
  { network: "LinkedIn", username: "Mauro Viveros", url: "https://linkedin.com/in/mauroviveros/", color: "#0077B5", icon: "line-md:linkedin" },
  { network: "Instagram", username: "maurogontier", url: "https://instagram.com/maurogontier/", color: "#E4405F", icon: "line-md:instagram" }
]

---

<div class="flex gap-2">
  {
    NETWORKS.map(({ network, username, url, color, icon }) => (
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={t('label.network', { username, network })}
        class="btn rounded-full"
        style={`background-color: ${color};`}
      >
        <Icon name={icon} class="text-zinc-100" />
      </a>
    ))
  }
</div>
